.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column-direction {
    flex-direction: column;
}

.row-direction {
    flex-direction: row;
}

.black-background {
    background-color: black;
}
